body {
    background-image: url("./images/medical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    opacity: 90%;
    text-align: center;
    z-index: 1;
}

.header h1{
    font-size: 80px;
    margin: auto;
}

.header p{
    margin: -10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    opacity: 95%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px 45px;
    margin-top: 120px;
}

.icon {
    text-align: right;
    position: relative;
    top: -10px;
    right: -30px;
}

#information{
    display: none;
    position: absolute;
    left: 250px;
    width: 340px;
    height: 70px;
    font-size: 12px;
    color: white;
    background: black;
    opacity: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.or {
    text-align: center;    
}

#expandBtn:hover {
    cursor: pointer;
}

.options {
visibility:
}

.np1:hover,
.np2:hover,
.np3:hover,
.np4:hover,
.np5:hover,
.np6:hover,
.nrm:hover {
    font-weight: bold;
}

.submit {
    text-align: center;
}

#submit:hover {
    cursor: pointer;
}
