body {
    background-image: url("./images/medical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    opacity: 90%;
    text-align: center;
}

.header h1{
    font-size: 80px;
    margin: auto;
}

.header p{
    margin: -10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    opacity: 95%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.expandBtn {
    text-align: center;    
}

#expandBtn:hover {
    cursor: pointer;
}

#options {
visibility:
}

.submit {
    text-align: center;
}

#submit:hover {
    cursor: pointer;
}